<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<ul style="list-style-type:none">
<li>Restaurant: <%= @restaurant.name %></li>
<li>Address: <%= @restaurant.address %></li>
<li>City: <%= @restaurant.city  %></li>
<li>State: <%=  @restaurant.state %></li>
<li>Zip: <%=  @restaurant.zip %></li>
<li>Description: <%=  @restaurant.description %></li>
</ul>

<%= link_to 'Add a Review', new_restaurant_review_path(@restaurant) %>

<h3>Reviews on <%= @restaurant.name %>:</h3>
  <ul>
    <% @reviews.each do |review| %>
    <li><%= review.rating %></li>
    <li><%= review.body %></li>
    <li>Review created: <%= review.created_at.strftime("%B %d %Y") %></li>

  </ul>
<% end %>
